.App {
  width: 100%;
  display: flex;

  box-sizing: border-box;
  gap: 10px;
  align-items: center;
}

.write {
  width: 50%;
  height: 90vh;

  padding: 20px;
}
.readonly {
  width: 50%;
  height: 95vh;
  padding: 10px;

  overflow-y: hidden;
}

.src {
  width: 100%;
  background-color: lightgray;
  height: 500px;
  padding: 15px;
  overflow-y: hidden;
}

.write nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.write nav button {
  height: 30px;
  width: 40px;
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .readonly,
  .write {
    width: 90%;
  }

  .write {
    height: fit-content;
  }
  .src {
    width: 90%;
  }
}
